//font sizes
$font-xs: 18px;
$font-sm: 20px;
$font-md: 25px;
$font-lg: 30px;
$font-xl: 40px;
$font-xxl: 50px;

//font weight
$bold: 500;
$bolder: 600;
$boldest: 800;

//theme colors - pine forest
$background-primary: #edf4f2;
$background-secondary: #d9dad9;
$navigation-primary: #31473a;
$accent: #7c8363;
$accent-secondary: #68a4a5;

// text colors
$text-primary: #333;
$text-secondary: #2a2929;
$text-contrast: #fff;
